# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
.be-*

vendor/
# go build
jplugins
# Visual studio conf
.vscode/
# Visual studio file generated
debug
#  Files used to test
features.lst
jplugins-preinstalled.lst
jplugins.lock
jplugins.lst
